body {
  font-family: "BYekan" !important;
}
.App {
  text-align: center;
}
.input-in-app {
  height: 25px;
  padding: 0.2em;
  margin: 0.4em;
  width: 250px;
  font-family: "BYekan";
  font-weight: bold;
}
.button-in-app {
  background-color: #4689e0;
  padding: 0.2em;
  width: 95px;
  height: 35px;
  font-family: "BYekan";
  font-weight: bold;
}
