.works {
  width: 100% auto;
  border: 2px solid seagreen;
  border-radius: 1em;
  margin: 0.5em auto;
  padding: 1em;
  background-color: blanchedalmond;
  direction: rtl;
}
.input {
  height: 25px;
  width: 250px;
  border-radius: 3px;
  font-family: "Byekan";
  font-weight: bold;
}
.button-in-work-done {
  background-color: #53af3f;
  padding: 0.2em auto;
  margin: 0.5em;
  width: 75px;
  height: 35px;
  font-family: "BYekan";
  font-weight: bold;
}
.button-in-work-todo {
  background-color: lime;
  padding: 0.2em auto;
  margin: 0.5em;
  width: 75px;
  height: 35px;
  font-family: "BYekan";
  font-weight: bold;
}
.button-in-work-delete {
  background-color: #6be3d3;
  padding: 0.2em auto;
  margin: 0.5em;
  width: 75px;
  height: 35px;
  font-family: "BYekan";
  font-weight: bold;
}
